<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190388227876-ftjlgeg6mlcuv00o000pc0rgcvhnf8r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190388227876-ftjlgeg6mlcuv00o000pc0rgcvhnf8r1</string>
	<key>API_KEY</key>
	<string>AIzaSyDdek6BIuBGQj7tV7II12WXTT2F6UtOhkU</string>
	<key>GCM_SENDER_ID</key>
	<string>190388227876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>culam.quizMaker</string>
	<key>PROJECT_ID</key>
	<string>quiz-maker-b50ff</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-maker-b50ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190388227876:ios:8c2161c6f0dc185250adb1</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-maker-b50ff.firebaseio.com</string>
</dict>
</plist>